body {
	margin-bottom: 20px;
	background-image: url('https://cdn.randommeaninglesscharacters.com/ui-images/menu/dsi_dsi_background.jpg');
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: #d9d9d9;
}

div.content img {
  width: 100%;
  height: auto;
}

h1 {
	font-size: 30pt;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #33ff77;
}

h2 {
	font-size: 25pt;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #33ccff;
}

h3 {
	font-size: 25pt;
}

div.alternatives {
	margin-top: 25px;
	background-color: #33ccff;
}

div.content {
    border: 1px solid black;
	font-size: 15pt;
	margin-top: 30px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 0px 20px 10px 20px;
	background-color: #d9d9d9;
}

table {
    border: 1px solid black;
	display: inline-block;
	text-align: left;
	font-size: 15pt;
	padding: 0px 10px 0px 10px;
	height: 100%;
	background-color: #d9d9d9;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  justify-content: center;
}